@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

h1,
h2,
h3,
p,
span,
a,
li {
  font-family: 'Lato', sans-serif;
  color: #666;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  color: #2d2d2d;
}

.App {
  max-width: 820px;
  margin: 0 auto;
}

.App-container {
  padding: 15px;
}
