@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

h1,
h2,
h3,
p,
span,
a,
li {
  font-family: 'Lato', sans-serif;
  color: #666;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  color: #2d2d2d;
}

.App {
  max-width: 820px;
  margin: 0 auto;
}

.App-container {
  padding: 15px;
}

.Header {
  padding: 40px 0px;
  position: relative;
}

.Header-image {
  max-width: 150px;
  position: absolute;
  right: 40px;
  top: 40px;
  transform: rotate(-5deg);
}

.Header-content,
.Header-headline {
  padding-right: 220px;
}

.Header-contacts {
  line-height: 26px;
  font-size: 16px;
}

.Header-contacts span {
  font-weight: 900;
}

.Header-description {
  padding: 30px 0px 0px;
  font-style: italic;
  line-height: 20px;
}

/************************************************************************/

.Content-section {
  display: flex;
  margin: 25px 0px;
  min-height: 70px;
}

.Content-section-title {
  border-right: 2px solid;
  width: 15%;
  text-align: right;
  font-weight: 900;
}

.Content-section-title,
.Content-section-description {
  padding: 5px 20px;
  color: #666;
}

.Content-section-description {
  width: 80%;
}

.Content-section-description h3 {
  font-weight: 900;
  padding-bottom: 10px;
}

.Content-section-info {
  line-height: 18px;
}

.Content-info-bold {
  font-weight: 900;
}

.Content-section-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content-section-subtitle {
  color: #e0dede;
}

.Content-section-list {
  list-style: disc;
  padding-left: 30px;
}

/***********************************************************************/

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #666;
}

.Footer a {
  padding: 15px;
  background: #2d2d2d;
  border-radius: 100%;
  margin: 10px 20px;
  font-size: 22px;
}

.Footer a span {
  color: #fff;
}
